<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 14" role="presentation">
	<title>to</title>
	<path d="m19.82 13 6.04-6.05L19.82.91l-1.04 1.02 4.28 4.28H4.64V7.7h18.42l-4.28 4.26z"/>
</svg>

<style>
	svg
	{
		width: 2em;
		fill: currentColor;
		transform: translateY(1px);
	}
</style>